<div class="body">
  <h1>{{ title }}</h1>

  <div class="instructions">
    <h4>Select the "Speaker Language", "Target Language" and "voice". Click on the "Start Recognition" button and start talking to listen the translated speech continously in realtime. Click on "Stop Recognition" when finished.</h4> 
  </div>
  <div class="note">
    <h4>Note: The Target language and language of voice should match</h4>
  </div>

  <div>  
    <h3>Speaker Language:</h3>
    <select [(ngModel)]="speechRecognitionLanguage" (change)="onSpeakerLanguageSelect($event)">
      <option *ngFor="let lang of speechRecognitonLanguages" [value]="lang.code">{{ lang.code }}({{ lang.name}})</option>
    </select>

    <h3>Target Language:</h3>
    <select [(ngModel)]="targetLanguage" (change)="onTargetLanguageSelect($event)">
      <option *ngFor="let lang of targetlanguages" [value]="lang.code">{{ lang.code }}({{ lang.name}})</option>
    </select>

    <h3>Select voice:</h3>
    <select id="voices" [(ngModel)]="selectedVoice" (change)="onVoiceSelected" >
      <option *ngFor="let voice of voices; let i = index" [value]="voice.code" >{{ voice.code }} ({{ voice.name }})</option>
    </select>

  </div>
  
  <div>
    <h3>Original Text: </h3>
    <p>{{ originalText }}</p>
  </div>

  <div class="container">
    <h3>Translated Text:</h3>
    <textarea id="text" rows="5" cols="30" [(ngModel)] = "originalTranslatedText" ></textarea>
  </div>

  <button [ngClass]="{'button-normal': !isRecognitionRunning, 'button-active': isRecognitionRunning}" (click)="startRecognition()">Start Recognition</button>
  <button [ngClass]="{'button-normal': isRecognitionRunning, 'button-active': !isRecognitionRunning}" (click)="stopRecognition()">Stop Recognition</button>

  <router-outlet></router-outlet>
</div>